body{
  background-color: #000;
  display:flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

ul li,a{
  display:inline-flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 5px;
  font-size:  2.0rem;
  text-decoration: none;
  color:orangered;
  & a:hover{
    background-color: orangered;
    color: aliceblue;
    border-radius: 5px;
  }
}

a:hover{
  color: white;
}

p::first-letter {
  color: white;
  background-color: rgb(88, 86, 86);
  border-radius: 5%;
  box-shadow: 3px 3px 0 #3f02e6;
  font-size: 200%;
  padding: 6px 3px;
  margin-right: 6px;
  float:unset;
}

.header{
  border: 1px solid #d1740a;
  border-radius: 10px;
  margin-bottom: 30px;
}

.items{
  color: #fff;
  background-color: rgb(18, 17, 19);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
  border: 1px solid #d1740a;
  
}

.items:hover{
  background-color: orangered;
  color: white;
  
}

.text {
  font-size:2rem;
  font-family:helvetica;
  font-weight:bold;
  color:orangered;
  text-transform:uppercase;
  text-align: center;
}
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;

  /* -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite; */
}

/* @-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
} */

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}