body{
  background-color: #222;
}

ul li,a{
  display:flex;
  margin: 0;
  padding: 10px;
  font-size:  1.5rem;
  text-decoration: none;
  color:#f403c4;
  & a:hover{
    background-color: #f403c4;
    color: aliceblue;
    border-radius: 5px;
  }
}



.text {
  font-size:2rem;
  font-family:helvetica;
  font-weight:bold;
  color:#fcfafb;
  text-transform:uppercase;
  text-align: center;
}
.parpadea {
  
  animation-name: parpadeo;
  animation-duration: 0.5s;
  animation-timing-function:ease-in-out;
  animation-iteration-count: infinite;

  /* -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite; */
}

/* @-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
} */

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}